# Local/dev environment template for docker compose
# Do not commit real secrets
# Usage: copy this file to .env before running docker compose

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_SAAS_CLIENT_SECRET=p6xeNl0rTBwqcv2Cie2NnnE0HEUvMM2E
KEYCLOAK_PLATFORM_CLIENT_SECRET=your_platform_client_secret
KEYCLOAK_SAAS_ADMIN_PASSWORD=admin
KEYCLOAK_SAAS_ADMIN_EMAIL=admin@platform.local