AUTH_BASE_URL=http://localhost:10001/api
PROJECT_BASE_URL=http://localhost:10004/api
INIT_BASE_URL=http://localhost:10000/api
USER_BASE_URL=
IAM_BASE_URL=http://localhost:8081

TEST_USER_PASSWORD=Test123!
ADMIN_EMAIL=
ADMIN_PASSWORD=
RUN_INIT=false

